@model SISDEN.Models.Comentario

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Comentario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comdescripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comdescripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComIdusuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComIdusuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComIddenuncia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComIddenuncia)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Idcomentario">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
