@page "/registro-entidad"
@inject AuthService AuthService
@inject EntidadService EntidadService
@inject NavigationManager NavigationManager
@inject RegistroEntidadService RegistroService

<!DOCTYPE html>

@if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="floating-alert">
        @errorMessage
        <span class="floating-alert-close" >&times;</span>
    </div>
}
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Riho admin is super flexible, powerful, clean &amp; modern responsive bootstrap 5 admin template with unlimited possibilities.">
    <meta name="keywords" content="admin template, Riho admin template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="pixelstrap">
    <link rel="icon" href="../assets/images/favicon.png" type="image/x-icon">
    <link rel="shortcut icon" href="../assets/images/favicon.png" type="image/x-icon">
    <title>Riho - Premium Admin Template</title>
    <!-- Google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../assets/css/font-awesome.css">
    <!-- ico-font-->
    <link rel="stylesheet" type="text/css" href="../assets/css/vendors/icofont.css">
    <!-- Themify icon-->
    <link rel="stylesheet" type="text/css" href="../assets/css/vendors/themify.css">
    <!-- Flag icon-->
    <link rel="stylesheet" type="text/css" href="../assets/css/vendors/flag-icon.css">
    <!-- Feather icon-->
    <link rel="stylesheet" type="text/css" href="../assets/css/vendors/feather-icon.css">
    <!-- Plugins css start-->
    <!-- Plugins css Ends-->
    <!-- Bootstrap css-->
    <link rel="stylesheet" type="text/css" href="../assets/css/vendors/bootstrap.css">
    <!-- App css-->
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
    <link id="color" rel="stylesheet" href="../assets/css/color-1.css" media="screen">
    <!-- Responsive css-->
    <link rel="stylesheet" type="text/css" href="../assets/css/responsive.css">
</head>
<body>
    <div class="container-fluid p-0">
        <div class="row m-0">
            <div class="col-12 p-0">
                <div class="login-card login-dark">
                    <div>
                        <div><a class="logo" href="index.html"> <img class="img-fluid for-dark" src="../assets/images/logo/logo.png" alt="looginpage"><img class="img-fluid for-light" src="../assets/images/logo/logo_dark.png" alt="looginpage"></a></div>
                        <div class="login-main">
                            <EditForm class="theme-form" Model="RegistroService.EntidadModelo">
                                <DataAnnotationsValidator />
                                <Validaciones TModel="EntidadModel" />

                                <h4>Crea tu cuenta</h4>
                                <p>Ingresa los datos de tu entidad para crear una cuenta</p>
                                    <div class="card-body">

                                    <label class="col-form-label">Nombre de la entidad</label>
                                    <InputSelect class="form-select form-select-sm" aria-label=".form-select-sm example"  id="Usuentidad" type="text" @bind-Value="RegistroService.EntidadModelo.Usuentidad">
                                        <option value="">Selecciona tu entidad</option>
                                        @if (entidades != null)
                                        {
                                            @foreach (var entidad in entidades)
                                            {
                                                <option value="@entidad.Identidadaut">@entidad.Entautorizadadescp</option>
                                            }
                                        }
                                    </InputSelect>
                                    <ValidationMessage For="@(() => RegistroService.EntidadModelo.Usuentidad)" />
                                    

                                </div>
                                <div class="form-group">
                                    <label class="col-form-label">Contraseña</label>
                                    <input class="form-control" type="password" name="login[password]" required="" placeholder="*********"@bind="RegistroService.EntidadModelo.Usucontraseña"  >
                                    <ValidationMessage For="@(() => RegistroService.EntidadModelo.Usucontraseña)" />

                                </div>

                             
                                <div class="form-group">
                                    <label class="col-form-label">Teléfono</label>
                                    <input class="form-control" type="text" required="" placeholder="000-000-0000" @bind="RegistroService.EntidadModelo.Usutelefono">
                                    <ValidationMessage For="@(() => RegistroService.EntidadModelo.Usutelefono)" class="validation-message" />

                                </div>

                                <div class="button-group">
                                    <div class="wizard-footer d-flex gap-2 justify-content-between">
                                    <BotonAtras> </BotonAtras>
                                        <button class="btn btn-primary btn-sm" id="nextbtn" @onclick="HandleRegister">Siguiente</button>
                                    </div> 
                                </div>

                               <p class="mt-4 mb-0">¿Ya tienes una cuenta?<a @onclick="IraLogin" class=" ms-2">Iniciar sesión</a></p>
                            </EditForm>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="../assets/js/jquery.min.js"></script>
        <script src="../assets/js/bootstrap/bootstrap.bundle.min.js"></script>
        <script src="../assets/js/icons/feather-icon/feather.min.js"></script>
        <script src="../assets/js/icons/feather-icon/feather-icon.js"></script>
       
        <script src="../assets/js/config.js"></script>
      
        <script src="../assets/js/script.js"></script>
    </div>
</body>
</html>

<style>
    .button-group {
        margin-top: 40px;e4erfn  
</style>


 

@code {
    private List<EntidadAutorizadaDTO> entidades;

    private string errorMessage;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            entidades = await EntidadService.GetEntidadesAutorizadasAsync();
        }
        catch (Exception ex)
        {
            errorMessage = "An error occurred while loading entities.";
            Console.WriteLine(ex.Message);
        }
    }

    private async Task HandleRegister()
    {
        try
        {
            errorMessage = null;
            var email = await AuthService.RegistroEntidad(RegistroService.EntidadModelo);
            RegistroService.EntidadModelo.Usuemail = email;
            NavigationManager.NavigateTo("/verificacion-entidad");
        }
        catch (ApplicationException ex)
        {
            errorMessage = ex.Message;
        }
        catch (Exception ex)
        {
            errorMessage = "Ocurrio un error inesperado.";
            Console.WriteLine(ex.Message);
        }
    }

    private async Task IraLogin()
    {
        NavigationManager.NavigateTo("/login-entidad");
    }
}

