@model SISDEN.Models.Articulo

@{
    ViewData["Title"] = "GetArticulo";
}

<h1>GetArticulo</h1>

<div>
    <h4>Articulo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Artnombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Artnombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Artdescripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Artdescripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CapIdcapitulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CapIdcapitulo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Idarticulo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
